:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}
body {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #abc8c0;
  color: #486572;
  font-family: JejuGothic;
  font-family: InconsolataFont, monospace;
  text-shadow: 1px 1px 1px #ffffff;
}
.addPostButton {
  background-color: #eff6f4;
  padding: 1rem;
  border: 3px solid #486572;
  border-radius: 20px;
  text-decoration: none;
  max-width: max-content;
  color: #486572;
  font-weight: bold;
  box-shadow: 0.5px 0.5px 0.5px #ffffff;
}

footer {
  color: #486572;
  background-color: #abc8c0;
  font-size: 1vw;
  height: 3vw;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  justify-content: space-around;
  font-family: InconsolataFont, monospace;
  text-shadow: 0.5px 0.5px 0.5px #ffffff;
}

.main {
  background-color: #f6f2ee;
  height: 40rem;
  width: 45rem;
  border-radius: 10px;
  padding-bottom: 2rem;
  overflow-y: scroll;
}
.elements {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.description {
  margin: 1rem;
  width: 30rem;
  font-weight: 450;
  border-color: #eff6f4;
  border-width: 1rem;
  color: #486572;
}
.title {
  color: #486572;
  text-shadow: 0.5px 0.5px 0.5px #ffffff;
}
img {
  width: 30rem;
  border-radius: 1rem;
}

.mainContainer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.secondary {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #c4bcae; /* Color of the scrollbar handle */
  border-radius: 6px; /* Border radius of the scrollbar handle */
}

/* Track (the area on which the handle moves) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
}

.mainSecondary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: 4rem;
  margin-left: 4rem;
  background-color: #f6f2ee;
  height: 20rem;
  gap: 3rem;
  border-radius: 2rem;
}

.label {
  font-family: InconsolataFont, monospace;
  font-weight: 400;
  color: #486572;
}

.typing {
  border-radius: 7px;
  border-width: 2px;
  border-color: #486572;
  color: #c4bcae;
}

.submitButton {
  background-color: #ffffff;
  padding: 0.5rem;
  border: 3px solid #486572;
  border-radius: 13px;
  color: #486572;
  font-weight: bold;
  box-shadow: 0.5px 0.5px 0.5px #ffffff;
}
